# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea._06.02 Lists - More Exercise.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Az\Documents\Softuni_Programming_Fundamentals\All Tasks\_06.02 Lists - More Exercise\.idea\.idea._06.02 Lists - More Exercise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
