# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea._02.02_Basic_Syntax_Conditional_Statements_and_Loops_More_Exercise.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Az\Documents\Softuni_Programming_Fundamentals\All Tasks\_02.02_Basic_Syntax_Conditional_Statements_and_Loops_More_Exercise\.idea\.idea._02.02_Basic_Syntax_Conditional_Statements_and_Loops_More_Exercise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
