# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea._03.01_Data_Types_and_Variables_Exercise.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Az\Documents\Softuni_Programming_Fundamentals\All Tasks\_03.00_Data_Types_and_Variables_Lab\_03.01_Data_Types_and_Variables_Exercise\.idea\.idea._03.01_Data_Types_and_Variables_Exercise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
