# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea._02_BasicSyntax_Conditional_Statements_and_Loops.iml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Az\Documents\Softuni_Programming_Fundamentals\All Tasks\_02_BasicSyntax_Conditional_Statements_and_Loops\.idea\.idea._02_BasicSyntax_Conditional_Statements_and_Loops\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
