# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.Programming Fundamentals Exam - 13 December 2019.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Az\Documents\Softuni_Programming_Fundamentals\Programming Fundamentals Exam - 13 December 2019\.idea\.idea.Programming Fundamentals Exam - 13 December 2019\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
