# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Programming Fundamentals Mid Exam - 29 February 2020 Group 2.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Az\Documents\Softuni_Programming_Fundamentals\Programming Fundamentals Exam - 29 February 2020 Group 2\.idea\.idea.Programming Fundamentals Mid Exam - 29 February 2020 Group 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
