# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.Programming Fundamentals Exam - 29 February 2020 Group 1.iml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Az\Documents\Softuni_Programming_Fundamentals\Programming Fundamentals Exam - 29 February 2020 Group 1\.idea\.idea.Programming Fundamentals Exam - 29 February 2020 Group 1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
